<!doctype html>
<head>
    <meta charset="utf-8">
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div class="fixed">
    <div class="topleft"><a href="/polls/">TOPOGUIDE</a></div>
    <div class="topright">
        {% if user.username %}
            <a href="{% url 'polls:logout' %}"><input type="button" value="logout" ></a>
        {% else %}
            <a href="{% url 'polls:login' %}"><input type="button" value="Login" ></a>
        {% endif %}
    </div>
    <div class="topright2">
        {{ user.username }}
    </div>
</div>
{% block content %}{% endblock %}
</body>
</html>