{% load static %}
<div>
<h1 ><a href="{% url 'polls:Itineraire_DetailView' sortie_.itineraire.id %}">{{ sortie_.itineraire.titre }}</a>
    -Sortie de {{ sortie_.utilisateur }}
</h1>
</div>
<div>
    <p>Date:{{ sortie_.date_de_sortie }}</p>
    <p>Duree reelle:{{ sortie_.duree_reelle }}</p>
    <p>Nombre de participants:{{ sortie_.nombre_de_personne }}</p>
    <p>Type de randonneurs:{{ sortie_.experience }}</p>
    <p>Meteo:{{ sortie_.meteo }}</p>
    <p>Difficulte ressentie:{{ sortie_.difficulte }}</p>
    <p>Commentaire:{{ sortie_.commentaire }}</p>
</div>
{% if user.username == sortie_.utilisateur %}
<div>
    <form action="{% url 'polls:Modifier' sortie_.id %}" method="post" >
        <label for="Date">Date </label><br>
        <input id="Date" type="date" name="Date"><br>
        <label for="Duree_reelle">Duree reelle:</label><br>
        <input id="Duree_reelle" type="text" name="Duree_reelle"><br>
        <label for="Nb_participants"> Nb participants:</label><br>
        <input id="Nb_participants" type="number" name="Nb_participants"><br>
        <label for="Type_randonneurs">Type randonneurs:</label><br>
        <select name="Type_randonneurs" id="Type_randonneurs">
            <option value="debutants">debutants</option>
            <option value="tous experimentes">tous experimentes</option>
            <option value="mixte">mixte</option>
          </select><br>
        <label for="Meteo"> Meteo</label><br>
        <select name="Meteo" id="Meteo">
            <option value="bonne">bonne</option>
            <option value="moyenne">moyenne</option>
            <option value="mauvaise">mauvaise</option>
          </select><br>
        <label for="Difficulte_ressentie">Difficulte ressentie:</label><br>
        <input id="Difficulte_ressentie" type="number" name="Difficulte_ressentie"><br>
        <label for="commentaire">Commentaire:</label><br>
        <input id="commentaire" type="textarea" name="commentaire"><br>
        <input type="submit" value="Enrigistre">
        {% csrf_token %}
        {{ form }}
        <input type="reset" value="Annuler">
    </form>
</div>
{% endif %}

