{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% block content %}
<div>
<h1 >{{ Itineraire.titre }}</h1>
</div>
<a href="{% url 'polls:Editer_une_Sortie' Itineraire.id %}"><input type="button" value="ADD" ></a>
<table id="customers">
    <tr>
        <th>par</th>
        <th>Date</th>
        <th></th>
      </tr>
{% for sortie in sortie_list %}
<tr>
    <th>{{ sortie.username}}</th>
    <th>{{ sortie.date_de_sortie }}</th>
    <th><input type="button" value="Consulter"></th>
  </tr>{% endfor %}
</table>
{% endblock content %}