{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% block content %}
<div>
<h1 >{{ user.username }}</h1>
<h1 >{{ Itineraire.titre }}</h1>
</div>
<table id="customers">
    <tr>
        <th>par</th>
        <th>Date</th>
        <th></th>
      </tr>
{% for sortie in sortie_list %}
<tr>
    <th>{{ sortie.utilisateur }}</th>
    <th>{{ sortie.date_de_sortie }}</th>
    <th><a href="{% url 'polls:Consulter' sortie.id %}"><input type="button" value="Consulter"></a></th>
  </tr>{% endfor %}
</table>
<a href="{% url 'polls:Ajouter_une_Sortie' Itineraire.id %}"><input type="button" value="Ajouter" ></a>
{% endblock content %}