#itineraire_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #itineraire_table td, #itineraire_table th {
    border: 2px solid rgb(204, 53, 53);
    padding: 8px;
  }
  #itineraire_table tr:nth-child(even){background-color: #f2f2f2;}
  #itineraire_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
#itineraire_Detail_table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }
  #itineraire_Detail_table td, #itineraire_Detail_table th {
    padding: 8px;
  }
  #itineraire_Detail_table th {
    padding-top: 2px;
    padding-bottom: 12px;
    text-align: left;
  }
.fixed {
    position: relative;
    height: 50px;
    background-color: rgba(255, 0, 0);
} 
.topleft_Topoguide {
  position: relative;
  left: 6px;
  top: 13px;
  font-size: 22px;
  font-family: Tahoma ;
}
.topleft_text {
  position: relative;
  left: 6px;
  top: 13px;
  font-size: 22px;
  font-family: Tahoma ;
}
.topright_login_logout{
  position: absolute;
  right: 6px;
  top: 10px;
  background-color: #0f130c;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-size: 15px;
  margin: -1px 2px;
  cursor: pointer;
  border-radius: 6px;
}
.topright_username{
  position: absolute;
  right: 15%;
  top: 12px;
  font-size: 18px;
}
.itineraire_list_image{
  position: relative;
  width:75%;
  height:40% ;
  vertical-align:middle;
  margin-top: 2px;
}
.button_ajouter {
  background-color: #6fff00;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 12px 4px;
  cursor: pointer;
  border-radius: 6px;
}
.button_Modifier_Consulter_Supprimer {
  background-color: #188b1a;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
}
.div_Ajouter_une_Sortie {
  width: 80%;
  border-radius: 5px;
  background-color: #bab9b9;
  padding: 20px;
}
.div_affichage_consulter {
  position: absolute;
  width: 40%;
  border-radius: 5px;
  padding: 20px;
}
.div_Modification_Consulter {
  position: absolute;
  left: 40%;
  width: 40%;
  border-radius: 5px;
  background-color: #bab9b9;
  padding: 20px;
}
.div_login {
  margin-top: 20%;
  width: 300px;
  left: 30%;
  position: relative;
  border-radius: 5px;
  background-color: #bab9b9;
  padding: 20px;
}
input[type=submit]{
  position: relative;
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
input[type=reset] {
    position: relative;
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=text],select,input[type=password],input[type=date],input[type=number]{
    width: 80%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=textarea]{
  resize: none;
  width: 80%;
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pre_style {
  font-family: Arial;
  font-size: 13px;
  width: 100%;
  overflow:auto
  position: relative;
}
