{% extends 'itineraires/base.html' %}
{% load static %}
{% block content %}
<div>
<h1 ><a href="{% url 'itineraires:Itineraire_DetailView' sortie_.itineraire.id %}">{{ sortie_.itineraire.titre }}</a>
    -Sortie de {{ sortie_.utilisateur }}
</h1>
</div>
<div>
<div class="div2">
    <p>Date:{{ sortie_.date_de_sortie }}</p>
    <p>Duree reelle:{{ sortie_.duree_reelle }}</p>
    <p>Nombre de participants:{{ sortie_.nombre_de_personne }}</p>
    <p>Type de randonneurs:{{ sortie_.experience }}</p>
    <p>Meteo:{{ sortie_.meteo }}</p>
    <p>Difficulte ressentie:{{ sortie_.difficulte }}</p>
    <p>commentaire:{{ sortie_.commentaire }}</p>
</div>
{% if user.username == sortie_.utilisateur %}
<div class="div3">
    <form action="{% url 'itineraires:Modifier' sortie_.id %}" method="post" >
        <label for="date_de_sortie">Date </label><br>
        <input id="date_de_sortie" type="date" name="date_de_sortie"><br>
        <label for="duree_reelle">Duree reelle:</label><br>
        <input id="duree_reelle" type="text" name="duree_reelle"><br>
        <label for="nombre_de_personne"> Nb participants:</label><br>
        <input id="nombre_de_personne" type="number" name="nombre_de_personne"><br>
        <label for="experience">Type randonneurs:</label><br>
        <select name="experience" id="experience">
            <option value="debutants">debutants</option>
            <option value="tous experimentes">tous experimentes</option>
            <option value="mixte">mixte</option>
          </select><br>
        <label for="meteo"> Meteo</label><br>
        <select name="meteo" id="meteo">
            <option value="bonne">bonne</option>
            <option value="moyenne">moyenne</option>
            <option value="mauvaise">mauvaise</option>
          </select><br>
        <label for="difficulte">Difficulte ressentie:</label><br>
        <input id="difficulte" type="number" name="difficulte"><br>
        <label for="commentaire">Commentaire:</label><br>
        <input id="commentaire" type="textarea" name="commentaire"><br>
        <input type="submit"  value="Enrigistre">
        {% csrf_token %}
        {{ form }}
        <input type="reset" value="Annuler">
    </form>
</div>
</div>
{% endif %}
{% endblock content %}

