{% extends 'itineraires/base.html' %}
{% load static %}
{% block content %}
<div style="position: relative;left: 5%">
<h1 >{{ Itineraire.titre }}</h1>
<pre class="pre_style">{{ Itineraire.description }}</pre>
</div>
<div style="position: relative;left: 5%;width: 80%;">
<table id="customers2">
    <tr>
        <th style="color:rgb(255, 0, 0);">Par</th>
        <th style="color:rgb(255, 0, 0);">Date</th>
        <th></th>
      </tr>
{% for sortie in sortie_list %}
<tr>
    <th>{{ sortie.utilisateur }}</th>
    <th>{{ sortie.date_de_sortie }}</th>
    {% if user.username == sortie.utilisateur %}
    <th><a href="{% url 'itineraires:Consulter' sortie.id %}"><input type="button" class="button3" value="Modifier"></a></th>
    {% else %}
    <th><a href="{% url 'itineraires:Consulter' sortie.id %}"><input type="button" class="button3" value="Consulter"></a></th>
    {% endif %}
  </tr>{% endfor %}
</table>
{% if user.username %}
<div class="topright3">
<a href="{% url 'itineraires:Ajouter_une_Sortie' Itineraire.id %}"><input type="button" value="Ajouter" class="button2" ></a>
</div>
</div>
{% endif %}
{% endblock content %}